body{
    background-size: cover;
    background-position: center;
    background:url('images.jpg');
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#number_of_objects,#startmodel
{
font-size: 18px;
}

canvas{
    margin-top: 15px;
    box-shadow:  10px 10px 10px grey;
    border-radius:  10px;
    transition: 0.5s;
}

canvas:hover{
    box-shadow:  20px 20px 20px rgb(255, 0, 0);
    border-radius:  15px;
}
.heading{
    transition: 0.5s;
    box-shadow:  10px 10px 10px grey;
}
.heading:hover{
    
color: black;
 background-color: crimson;
 width: 50%;
 align-items: center;
 box-shadow:  20px 20px 20px rgb(204, 0, 255);
 border-radius: 5%;
}
